[submodule "Vendor/Reachability"]
	path = Vendor/Reachability
	url = https://github.com/tonymillion/Reachability.git
[submodule "Vendor/SocketRocket"]
	path = Vendor/SocketRocket
url=git@github.com:blackpixel/SocketRocket.git
branch = tvos
